
<div class="movie-ticket">
    <div class="container-fluid">
        <div class="ui-item">
            <div class="ui-head">
                <img src="{{selactedproduct.image}}" alt=""
                    class="img-responsive bg-img" />

                <div class="ui-trans clearfix">
                    <!-- <img src=" {{selactedproduct.image}}" class="card-img-top" alt="..." /> -->

                    <div class="ui-details clearfix">
                        <h2>
                            <a href="#">{{ selactedproduct?.title }}</a>
                        </h2>

                        <p>
                            {{ selactedproduct?.description }}
                        </p>
                    </div>
                </div>
            </div>

        



                <a href="#" class="ui-btn bg-red"><i class="fa fa-ticket"></i> Buy now</a>
                <a href="#" class="ui-btn bg-green"><i class="fa fa-dot-circle-o"></i> Buy later</a>
           
        </div>
    </div>
</div>
